name: "cicd build"

on:
  pull_request:
    types: [opened, reopened, synchronize, closed]
    branches: [ master ]

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: ses-smtpd-proxy
    steps:

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Check out code
        uses: actions/checkout@v3

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          list-files: json
          predicate-quantifier: 'every'
          filters: |
            images:
              - 'version.txt'

      - name: Verify Image Version Bump
        if: steps.filter.outputs.images != 'true'
        run:  |  
          echo "No Image tag bumps found, failing build"
          exit 1

      - name: Set Env
        run: |
          echo "SHORT_SHA=`echo ${GITHUB_SHA} | cut -c1-8`" >> $GITHUB_ENV
          echo "IMAGE_VERSION=$(cat version.txt)" >> $GITHUB_ENV

      - name: Build and scan image
        run:  |
         echo "Build image"
         docker buildx build --platform linux/amd64,linux/arm64 -t ${IMAGE_NAME} -t localimage:localtag ./${IMAGE_NAME}
         echo "Load amd64 image"
         docker buildx build --load --platform linux/amd64 -t ${IMAGE_NAME} -t localimage:localtag ./${IMAGE_NAME}

      - name: Publish to Quay on Master
        if: github.event.pull_request.merged == true
        run:  |
         docker login quay.io -u ${{ secrets.QUAY_USERNAME }} -p "${{ secrets.QUAY_PASSWORD }}"
         docker buildx build --push --platform linux/amd64,linux/arm64 \
                -t quay.io/swimlane/${IMAGE_NAME}:${IMAGE_VERSION} \
                -t quay.io/swimlane/${IMAGE_NAME}:latest \
                ./
